    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class=" col-lg-5 col-md-7">
                <div class="panel rounded rounded-3 shadow text-light bg-dark">
                    <div class="panel-heading">
                        <h3 class="pt-3 fw-bold text-center">
                            Iniciar Sesión
                        </h3>
                    </div>  
                    <div class="panel-body p-3">
                        <small *ngIf="loginResultVisible" class="text-danger">{{loginResultMessage}}</small>
                        <form [formGroup]="loginForm">
                            <div class="form-group text-secondary">
                                <div class="input-field rounded-2 p-2 w-100 bg-white mt-3 d-flex align-items-center" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" >
                                    <i class="bi bi-envelope me-2 text-dark"></i>
                                    <input type="text" name="" id="" class="w-100"  formControlName="email" id="email" placeholder="Correo Electronico">
                                </div>
                                <small  *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*El correo electrónico es obligatorio.</small>
                                <div class="input-field rounded-2 p-2 w-100 bg-white  mt-3 d-flex align-items-center" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" >
                                    <i class="bi bi-lock me-2 text-dark"></i>
                                    <input [type]="type" name="" id="" class="w-100"  formControlName="password" id="password" placeholder="Contraseña">
                                    <i (click)="hideShowPassword()" class="{{eyeIcon}} text-dark"></i>
                                </div>
                                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"  class="text-danger">*La contraseña es obligatoria.</small>
                            </div>
                            <button  (click)="onLogin()" type="submit" class="btn btn-primary mt-4 w-100 fw-bold">Entrar</button>
                            <div class="text-center text-light-subtle mt-4">¿No tienes una cuenta? <a routerLink="/signup" routerLinkActive="active" class="text-light fw-bold text-decoration-none">Regístrate aquí</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
