.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.carousel .list .item{
    position: absolute;
    inset : 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.carousel .list .item .content{
    position: absolute;
    top:20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    text-shadow: 0 5px 8px #0004;
}
.thumbnails{
    position:absolute;
    bottom :50px;
    left:50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap:20px;
}
.thumbnails .item {
width: 150px;
height: 220px;
flex-shrink: 0;
position: relative;
}
.thumbnails .item img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.thumbnails .item img:hover{
transform:scale(1.1)
}
.title-section{
    position: absolute;
    top:-25px;
    z-index: 101;
    width: 100%;
    text-shadow: 0 5px 8px #000;
}
