<div class="container mt-5 mb-0">
</div>
<div class="carousel">
    <div class="list">
        <div class="item" >
            <img [src]="'https://image.tmdb.org/t/p/original/' +startingMovie?.backdrop_path" alt="" class="movie-image"  [ngClass]="{'movie-image': true, 'fade': fadeClass}">
            <div class="content ps-3 pt-2 pb-2 rounded rounded">
                <div class="movie-tittle text-light fw-bolder fs-1">{{startingMovie?.title}}</div>
                <div class="movie-description text-light fs-6">{{startingMovie?.overview}}</div>
                <div class="movie-release-date text-light fs-6 mt-2">Release: {{startingMovie?.release_date}}</div>
                <div class="movie-buttons mt-2">
                    <button type="button" class="btn-dark btn-outline-light btn p-2" routerLink="/movies/details/{{startingMovie?.id}}">Ver mas</button>
                    <app-addtofav [movieId]="startingMovie?.id ?? 0"></app-addtofav>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnails">
        <div class="title-section">
            <h1 class="fs-6 text-light">Populares: </h1>
        </div>
        <div class="item" *ngFor="let movie of popularMovies; let idx = index">
            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="" class="thumb-image" (click)="focusMovie(idx)">
            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}"class="thumbnail-img-shadow" alt="">
        </div>
    </div>
</div>