<div class="container mt-5 vh-100">
    <div class="pt-5">
    <h3 class="text-light mt-5">Administracion de usuarios, <small>Bienvenido {{ names }}</small></h3>
    <table class="table text-light bg-dark mt-2">
        <tr>
            <th>Nombres</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        <tr class="text-light bg-secondary border-1" *ngFor="let user of users">
            <td>{{user.names}} {{user.lastNames}}</td>
            <td>{{user.email}}</td>
            <td>{{user.idRol==1? "Admin":"Cliente"}}</td>
            <td>
                <button (click)="seeUser()" class="btn btn-sm btn-outline-primary text-primary"><i class="bi bi-eye-fill"></i></button>
                <button (click)="deleteUser()"class="btn btn-sm btn-outline-danger text-danger"><i class="bi bi-trash-fill"></i></button>
            </td>
        </tr>
    </table>
</div>
</div>
